[submodule ".registry"]
	path = .registry
	url = https://github.com/phanthomx/phanthomx.r-universe.dev
	branch = HEAD
[submodule "finRiskPractical"]
	path = finRiskPractical
	url = https://github.com/phanthomx/finRiskPractical
